#points
{
    font-size: 20px;
    margin-left: 10px;
}
#time
{
    float: right;
    font-size: 20px;
    margin-right: 15px;
}
#sketchName
{
    color: aquamarine;
}
body
{
    background-color: rgb(38, 94, 76);
    color: aquamarine;
}
p
{
    font-size: 27px;
}
#showSketch
{
   background-color: rgb(12, 129, 129); 
   border-radius: 20px;
   font-size: 25px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
}